.buySection{
    background-color: gray;
    /* padding: 0px 0; */
    padding-top: 15px;
    margin-top: 60px;
}


.buyHero-container{
    width: 90%;
    background-color: white;
    margin: 0 auto;   /* πάει στο κέντρο της σελίδας */
    padding: 50px 0;
    
}

.rowBuy1{
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
}

.rowBuy2 h3{
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    background-color: rgb(50, 48, 48);
    /* padding-bottom: 50px; */
    color: white;
    
}


.buyBox{
    width: 50% ;  /* Το κάθε ένα buy box θέλω να έχει το 100% σε πλάτος, και αφού έχουμε 2 Βοχ θα μοιραστούν */
    
    /* border: 3px solid rgb(50, 48, 48); */
    border: 2px solid rgb(172, 11, 11);
    padding: 20px 0px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 5px;
    border-radius: 20px;
}

.buttonBuy{
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 5px 5px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(88, 85, 85);
    color: white;
    transition-duration: 0.4s;
    
}

button:hover{
    background-color: rgb(4, 73, 4);
}

.listBuy{
    position: absolute;
    top: 50px;
    right: 10px;
    list-style-type: none;
    width: 210px;
}

.listBuy li{
    margin: 2px;
    padding: 1px 5px;
}

.listBuyli{
    position: relative; /* Ορίζει το position ώστε να επιτρέπει την κίνηση */
    transition: transform 0.3s ease; /* Ορίζει τη διάρκεια και τον τύπο της μετάβασης */
    padding: 10px; /* Εσοχή γύρω από το κείμενο */
    cursor: pointer; /* Το ποντίκι γίνεται χέρι όταν περνά πάνω */
}
  
li:hover {
    transform: translateX(10px) scale(1.1); /* Μετακινεί το στοιχείο 10px δεξιά και το μεγεθύνει κατά 10% */
}

.green{
    background-color: rgba(35, 202, 29, 0.516);
}

.blue{
    background-color: rgba(29, 67, 219, 0.516);;
}

.yellow{
    background-color:rgba(182, 202, 29, 0.516);;
}

.buyImage{
    padding: 20px 0 !important;
}

.bottomBuy{
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;     /* κάθετη στοίχιση */
    /* justify-content: center; οριζόντια στοίχιση */
    justify-content: space-between;

}



.buyBox p{
    text-align: left;
    line-height: 25px;
    padding: 0 15px;
    font-size: 20px;
}

.buyPhoto{
    width: 60%; /* Θέλω η εικόνα να καλύπτει το 100% του div */
    display: block; /* Να συμπεριφέρεται σαν κουτί και καλή επίδραση στις διαστάσεις */
    border-radius: 20px;
} 

/* .buyHero-container{
    padding-bottom: 5px;
} */
