
.footer-lower2{
    background-color: black;
    color: white;
    padding: 50px 30px;
    font-size: smaller;
}

.footer-lower2 h3{
    padding-bottom: 20px;
    font-size: medium;
}

.footer-lower2 img{
    width: 40px;
}

button{
    background-color: black;
    color: red;
    border: none;
    display: flex;
    justify-content: center;
}