.lifeSection{
    background-color: gray;
    /* padding: 0px 0; */
}


.lifeHero-container{
    width: 90%;
    background-color: white;
    margin: 0 auto;   /* πάει στο κέντρο της σελίδας */
}

.rowLife1{
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    
}

.rowLife2 h1{
    font-size: 25px;
    text-align: center;
    
    padding-bottom: 50px;
    
}


.lifeBox{
    width: 100% ;  /* Το κάθε ένα life box θέλω να έχει το 100% σε πλάτος, και αφού έχουμε 2 Βοχ θα μοιραστούν */
    
}

.bottomLife{
    display: flex;
    align-items: center;     /* κάθετη στοίχιση */
    /* justify-content: center; οριζόντια στοίχιση */
    justify-content: space-between;
}



.lifeBox p{
    text-align: left;
    line-height: 25px;
    padding: 0 15px;
    font-size: 20px;
}

.lifePhoto{
    width: 100%; /* Θέλω η εικόνα να καλύπτει το 100% του div */
    display: block; /* Να συμπεριφέρεται σαν κουτί και καλή επίδραση στις διαστάσεις */
    border-radius: 20px;
} 

.lifeHero-container{
    padding-bottom: 5px;
}
